body {
  background-color: #5A637C;
  margin-right: -15px;
}

.col-sm-12 {
  font-family:'Poiret One', cursive;
  font-weight: 300;
  font-size: 35pt;
  background-color: #272E43;
  color: white;
  text-align: center;
  height: 100px;
  border: 10px solid white;
  margin-top: -15px;
}
#box {
  background: url("http://p1.pichost.me/i/40/1635176.jpg")
}
.btn {
  border: 5px solid #1F2637;
}
ul {
  list-style-type: none;
}
ul > li {
  padding: 10px;
}
.btn {
  height: auto;
  width: 300px;
}
.jumbotron {
  background: white;
  margin-top: 5px;
  width: 100%;
  height: 350px;
  background: url("http://img06.deviantart.net/5204/i/2008/187/0/7/splash_of_apple_by_edwin_by_iedwin24.jpg");
  background-repeat: no-repeat;
}
#city1 {
  margin-top: 5px;
  height:350px;
  background: url("http://www.publicdomainpictures.net/pictures/40000/nahled/black-and-white-background-1363001349OJ7.jpg");
  margin-right: -15px;
}
#city2 {
  padding-right: 15px;
  margin-top: 5px;
  height:350px;
  background: url("http://www.publicdomainpictures.net/pictures/40000/nahled/black-and-white-background-1363001349OJ7.jpg");
  background-repeat: repeat-x;
  overflow: hidden;
  margin-left: -15px;
}
#footer {
  margin-top: -10px;
  height: 150px;
  background: url("http://farm9.static.flickr.com/8174/7891938966_51f46aa3c3.jpg")
}
.rows {
  margin-bottom: -25px;
}
